[submodule "RishEngine/deps/nativefiledialog"]
	path = RishEngine/deps/nativefiledialog
	url = https://github.com/roy4801/nativefiledialog.git
[submodule "RishEngine/deps/entt"]
	path = RishEngine/deps/entt
	url = https://github.com/rishteam/entt.git
[submodule "RishEngine/deps/spdlog"]
	path = RishEngine/deps/spdlog
	url = https://github.com/rishteam/spdlog.git
[submodule "RishEngine/deps/IconFontCppHeaders"]
	path = RishEngine/deps/IconFontCppHeaders
	url = https://github.com/rishteam/IconFontCppHeaders.git
[submodule "RishEngine/deps/re2"]
	path = RishEngine/deps/re2
	url = git@github.com:rishteam/re2.git
[submodule "RishEngine/deps/imgui-sfml"]
	path = RishEngine/deps/imgui-sfml
	url = git@github.com:rishteam/imgui-sfml.git
[submodule "RishEngine/deps/cereal"]
	path = RishEngine/deps/cereal
	url = git@github.com:rishteam/cereal.git
[submodule "RishEngine/deps/SFML"]
	path = RishEngine/deps/SFML
	url = git@github.com:rishteam/SFML.git
[submodule "RishEngine/deps/nlohmann_json"]
	path = RishEngine/deps/nlohmann_json
	url = git@github.com:rishteam/json.git
[submodule "RishEngine/deps/glm"]
	path = RishEngine/deps/glm
	url = git@github.com:rishteam/glm.git
[submodule "RishEngine/deps/fmt"]
	path = RishEngine/deps/fmt
	url = git@github.com:rishteam/fmt.git
