[submodule "RishEngine/deps/nativefiledialog"]
	path = RishEngine/deps/nativefiledialog
	url = https://github.com/roy4801/nativefiledialog.git
[submodule "RishEngine/deps/entt"]
	path = RishEngine/deps/entt
	url = https://github.com/rishteam/entt.git
[submodule "RishEngine/deps/spdlog"]
	path = RishEngine/deps/spdlog
	url = https://github.com/rishteam/spdlog.git
[submodule "RishEngine/deps/IconFontCppHeaders"]
	path = RishEngine/deps/IconFontCppHeaders
	url = https://github.com/rishteam/IconFontCppHeaders.git
